connexion==2.7.0
dataclasses==0.6
Flask==1.1.2
Flask-AuditLog==1.0
Flask-Cors==3.0.9
Flask-No-Cache==1.0
Flask-SSLify==0.1.5
Flask-Testing==0.7.1
gobits==1.0.4
google-api-core==1.23.0
google-auth==1.23.0
google-cloud-core==1.3.0
google-cloud-firestore==1.7.0
googleapis-common-protos==1.52.0
google-cloud-pubsub==2.1.0
grpcio==1.33.2
gunicorn==20.0.4
jwkaas==0.9
pandas==1.1.4
swagger-ui-bundle==0.0.6
XlsxWriter==1.3.7
